

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.search-coin {
  background-color: rgb(91, 119, 119);
  margin-bottom: 40px;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: rgb(235, 231, 231);
}

.logo {
  width: 30px;
  transform: translateY(5px);
  background: transparent;
}

.coin-text,
.coin-text span {
  background: transparent;
}

form {
  background-color: rgb(235, 231, 231);
  border-radius: 20px;
  width: 30%;
}

.coin-input {
  background: transparent;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.coin-input::placeholder {
  text-transform: capitalize;
  color: #717171;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
}

.btn-refresh {
  position: absolute;
  right: 3%;
  top: 120px;
  padding: 5px 14px;
  border: 1px solid gray;
  cursor: pointer;
}

.btn-refresh:hover {
  background-color: rgb(196, 194, 194);
}

@media only screen and (max-width: 375px) {
  .search-coin {
    height: 13vh;
    margin-bottom: 70px;
    justify-content: space-between;
  }

  h1 {
    font-size: 20px;
  }

  .logo {
    width: 25px;
  }

  form {
    border-radius: 10px;
    width: 40%;
  }

  .coin-input {
    font-size: 18px;
    height: 30px;
    border-radius: 10px;
  }

  .coin-input::placeholder {
    font-size: 18px;
  }
}
