@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Livvic", sans-serif;
}

.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(168, 166, 166);
}

.logo {
  color: rgb(94, 94, 94);
}

.coin-input {
  font-size: 18px;
  width: 200px;
  height: 25px;
}

button {
  text-transform: uppercase;
  font-size: 15px;
  margin: 0px 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.coin-title {
  border-bottom: 1px solid gray;
  padding: 40px 0px 10px;
}

.coin-title > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-container {
  border-bottom: 1px solid rgb(221, 218, 218);
  padding: 25px 0px;
}

.coin-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-name,
.title-name {
  text-transform: uppercase;
  width: 30%;
  display: flex;
}

.coin-name img {
  height: 25px;
  width: 25px;
}

.coin-name h3 {
  font-size: 15px;
  color: #333333;
  margin-left: 30px;
}

.symbol {
  color: #5e5d5d;
  font-weight: 300;
  margin-left: 45px;
}

.coin-data,
.title-data {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
